{% extends "homepage/header.html" %}

{% block content %}

<div align="center">

{% if request.user.is_authenticated %}

    <h3>{{request.user.username}}</h3>

    {% if user.first_name != '' %}
        <h6>First Name: {{ user.first_name }}</h6>
    {% endif %}

    {% if user.last_name != '' %}
        <h6>Last Name: {{ user.last_name }}</h6>
    {% endif %}

    {% if user.email !=  '' %}
        <h6>Email: {{ user.email }}</h6>
    {% endif %}

    {% if user.profile.college != None %}
        <h6>College: {{ user.profile.college.schoolName }}</h6>
    {% endif %}


    <div id="container">
        <a href="/logout/" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
        <a href="/account/edit" class="btn btn-outline-success my-2 my-sm-0">Edit Profile</a>
    </div>

{% endif %}

{% if request.user.is_authenticated == False %}

<h3>You are not currently signed in</h3>
<a href="/signin/" class="btn btn-outline-success my-2 my-sm-0">Sign in/Register</a>

{% endif %}

</div>

{% endblock %}