{% extends "homepage/header.html" %}

{% block content %}

<div align="center">

    <h3>Username: {{ user.username }}
    </h3>

    {% if user.email !=  '' %}
        <h5>Email: {{ user.email }}</h5>
    {% endif %}

    {% if user.first_name != '' %}
        <h5>First Name: {{ user.first_name }}</h5>
    {% endif %}

    {% if user.last_name != '' %}
        <h5>Last Name: {{ user.last_name }}</h5>
    {% endif %}

    {% if user.profile.college != None %}
        <h5>College: {{ user.profile.college.schoolName }}</h5>
    {% endif %}

</div>

{% endblock %}