{% extends "homepage/header.html" %}

{% block content %}

<div align="center">

<h3>Successfully joined {{school.schoolName}}</h3>
    <h4> Thank you for joining {{school.schoolName}}</h4>
    <h5> This school offers the following games</h5>
    <h6> Click one to join!</h6>
    <ul>
        <li>
            <a href = "">Counter Strike Go</a>
        </li>
        <li>
            <a href = "">League of Legends</a>
        </li>
        <li>
            <a href = "">Overwatch</a>
        </li>
    </ul>


</div>

{% endblock %}